[Unit]
Description=Iserb Monthly System Backup

[Service]
Type=simple
ExecStart=/usr/local/bin/iserb -s --chrono --interval="month" /mnt/backup.list /mnt/backup.local
