[Unit]
Description=Iserb Daily System Backup

[Service]
Type=simple
ExecStart=/usr/local/bin/iserb -s --chrono --interval="day" /mnt/backup.list /mnt/backup.local
