[Unit]
Description=Iserb Hourly System Backup

[Service]
Type=simple
ExecStart=/usr/local/bin/iserb -s --chrono --interval="hour" /mnt/backup.list /mnt/backup.local
